<template name="Footer">
	<!-- +++++ Footer Section +++++ -->

	<div id="footer">
		<div class="container">
			<div class="row">
				<div class="col-lg-4">
					<h4>()=>{$}</h4>
					<p>
              <a href="/about">About</a><br/>
              <a href="/blog">Blogs</a><br />
              <a href="/admin">Contacts</a>
					</p>
				</div><!-- /col-lg-4 -->

				<div class="col-lg-4">
					<h4>Links</h4>
					<p>
						<a href="https://twitter.com/CodingValley">Twitter</a><br/>
						<a href="https://www.facebook.com/philip.tran.984">Facebook</a><br />
						<a href="/admin">Admin login</a>
					</p>
				</div><!-- /col-lg-4 -->

				<div class="col-lg-4">
					<h4>Earn Money with PC</h4>
					<p>by creating e-commerce site, app, and platform while mastering the science and art of Programing and Coding - PC </p> <br>
					<p></p>
				</div><!-- /col-lg-4 -->
				<div class="col-lg-12">
					<figure>
						<blockquote cite="https://twitter.com/CodingValley">
						  Everyone should know how to program a computer, because it teaches you how to think!
						</blockquote>
				  	<figcaption class="pull-right">Steve Jobs</figcaption>
						<br><br>
						<blockquote>
					  	Find three hobbies you love: one to make you money, one to keep you in shape, and one to be creative.
					  </blockquote>
						<figcaption class="pull-right">Unknown</figcaption>
			  	</figure>
				</div>
			</div>
		</div>
	</div>
</template>
